[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_stablecoin = "9LSXCUkD7BD3wjWjtC18qbrPAcfwdo4LVCER8j6CKEDj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
